{% extends "polls/base.html" %}
{% block content %}

<h4 class="border-bottom pb-2 mb-0">Question:</h4>
<h4 class="border-bottom pb-2 mb-0">{{ question.question_text }}</h4>

<div class="text-start my-3 p-3">
    <div class="h6">

    {% if error_message %} <p><strong>{{ error_message }}</strong></p>
    {% endif %}
        <div class="pb-0 mb-0 text-white medium lh-sm ">
            <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label class="border-bottom p-1 pb-1 mb-0" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            <br>
            {% endfor %}
                <div class=" d-flex text-white pt-3">
                    <input   type="submit" value="Vote">
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content%}